.board-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    flex: 1 1 100%;
    min-width: 352px;
    margin: 0 10px;
}

.board-list-item {
    text-decoration: none;
    background-color: rgb(0, 121, 191);
    color: #fff;
    height: 96px;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 3px;
    max-width: 1250px;
    width: 48%;
    margin: 1%;
}

.delete-btn {
    background: none;
    float: right;
    margin: 5px 10px;
    font-size: 18px;
}
.delete-btn:hover {
    font-weight: bolder;
}

.board-title {
    font-size: 16px;
    font-weight: 700;
    margin: 10px;
}

.board-user {
    float: right;
    margin: 25px 15px;
}

.board-new {
    background: #F0F2F5 !important;
    color: #172b4d;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-name {
    display: inline-block;
    line-height: 24px;
    font-size: 16px;
    font-weight: 700;
    color: #647189;;
    margin: 70px 0 5px 16px;
}

.board-input {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
    min-height: 0;
    outline: 0;
}

.board-input::placeholder {
    color: #CDD2D4;
}