.kanbanboard {
    background: #0079BF;
    height: 100%;
}

.kanbanboard-title {
    font-size: 25px;
    font-weight: 700;
    line-height: 32px;
    padding: 15px;
    color: #fff;
}

.column-title {
    font-weight: 700;
    margin-bottom: 10px;
}

.column {
    width: 272px;
    margin: 10px 5px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    background: #dfe1e6;
    border-radius: 3px;
    padding: 10px;
}

.card-link {
    text-decoration: none;
}

.card-delete-btn {
    float: right;
}
.card-delete-btn:hover {
    font-weight: bold;
}

.card {
    overflow: hidden;
    padding: 6px 10px 3px;
    position: relative;
    background: white;
    margin: 10px 0;
    text-decoration: none !important;
    color: #172b4d;
    border-radius: 3px;
}

.card-score {
    color: #6b778c;
    padding-bottom: 5px;
}

.card-score-num {
    font-size: 12px;
    white-space: nowrap;
    padding: 0 10px 0 2px;
    font-weight: 500;
}

.card-profile {
    display: inline-block;
    margin-left: 95px;
    margin-bottom: -5px;
}

.card-input {
    border: none;
    font-size: 13px;
    outline: 0;
    width: 210px;
    padding: 5px;
    opacity: 0.7;
}

.card-input::placeholder {
    color: #6b778c;
}

.add-card-btn {
    color: #6b778c;
    font-size: 25px;
    float: right;
    padding-right: 5px;
    cursor: pointer;
}

.add-list {
    width: 272px;
    margin: 10px 5px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    background-color: rgba(0,0,0,.12);
    border-radius: 3px;
    padding: 10px;
    color: #fff;
}

.column-input {
    border: none;
    font-size: 13px;
    outline: 0;
    width: 210px;
    padding: 5px;
    background-color: rgba(0,0,0,0);
    color: hsla(0,0%,100%,.8);
}

.column-input::placeholder {
    color: hsla(0,0%,100%,.8);
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.add-list-btn {
    color: hsla(0,0%,100%,.8);
    font-size: 25px;
    float: right;
    padding-right: 5px;
    cursor: pointer;
}

#root {
    height: 100%;
}