.header {
    height: 32px;
    position: relative;
    background: #026aa7;
    padding: 4px;
    z-index: 10;
}

.logo {
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: 80px 30px;
    cursor: pointer;
    display: inline-block;
    height: 30px;
}

.profile {
    border-radius: 100%;
    float: right;
    cursor: pointer;
    height: 30px;
}

.profile-dropdown {
    display: block;
    position: absolute;
    right: 0;
    margin: 5px;
    width: 110px;
    background: white;
    border-radius: 3px;
    box-shadow: 0 8px 16px -4px rgba(9,30,66,.25), 0 0 0 1px rgba(9,30,66,.08);
    box-sizing: border-box;
    outline: 0;
    overflow: hidden;
    z-index: 1;
}

.dropdown-content {
    padding: 10px;
    color: #172b4d;
    text-decoration: none;
}

img.profile:hover .profile-dropdown {
    cursor: pointer;
    display: block;
}

.dropdown-content:hover {
    background: #298FCA;
    color: white;
    cursor: pointer;
}
